:root {
   --IRIS: #4D5AE5;
   --OCEAN: #404BBF;
   --NAVY-BLUE: #2E2F42;
   --SLATE: #434455;
   --LIGHT-SLATE: #8E8F99;
   --CORNFLOWER: #E7E9FC;
   --CLOUD: #F4F4FD;
   --NAVY-BLUE-modal: rgba(46, 47, 66, 0.40);
   --GREY: rgba(46, 47, 66, 0.70);
   --WHITE: #fff;
   --DAIRY: #FCFCFC;
   --GREEN: #31D0AA;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   box-sizing: border-box;
   /* max-width: 1440px; */
}
body {
   font-family: "Roboto", sans-serif;
}

/* General Styles */

h1, h2, h3, p {
   margin: 0;
}
ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

.section {
   padding: 120px 0;
}
/* cont */
.container {
   /* max-width: 428px; */
   padding: 0 15px;
   margin: 0 auto;

   @media screen and (min-width: 768px){
      width: 768px;
   }
   @media screen and (min-width: 1158px){
      width: 1158px;
   }
}

img {
   display: block;
   max-width: 100%;
   width: 100%;
   height: auto;
}

button {
   font-family: inherit;
   cursor: pointer;
   border: unset;
   outline: none;
}
.iris-logo {
   color: var(--IRIS);
   font-family: Raleway;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

.title {
   color: var(--NAVY-BLUE);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;
   margin-bottom: 72px;
}

/* End of General Styles */

/* Header & Top Nav */
.header {
   padding: 24px 0;
   border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
   background: var(--WHITE, #FFF);
   box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

   @media screen and (min-width: 428px) {
         overflow: hidden;
      }
   @media screen and (min-width: 768px) {
         padding: 10px 0;
      }
   @media screen and (min-width: 1158px) {
         padding: 23px 0;
      }
}


.header-text-logo-studio {
   color: var(--NAVY-BLUE)
}

.main-header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* padding-left: 156px; */
   /* padding-right: 150px; */
}

nav {
   display: flex;
   gap: 76px;

   @media screen and (min-width:768px) {
         display: flex;
         gap: 120px;
      }
   
      /* @media screen and (min-width:1158px) {
         display: flex;
         gap: 76px;
      } */
}
.nav-list {
   display: none;
   gap: 40px;

   @media screen and (min-width:768px) {
         display: flex;
      }
}

.nav-list-item-link {
   color: var(--NAVY-BLUE);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.32px;
   position: relative;
}

.nav-active {
   color: var(--OCEAN);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
   color: var(--OCEAN);
}

.nav-list-item-link::after {
   content: '';
   height: 4px;
   background: var(--OCEAN);
   position: absolute;
   left: 0;
   bottom: -27px;
   border-radius: 2px;
}

.nav-list-item-link:hover::after {
   width: 100%;
}

.nav-active::after {
   content: '';
   height: 4px;
   background-color: var(--OCEAN);
   position: absolute;
   left: 0;
   bottom: -27px;
   border-radius: 2px;
   width: 100%;
}

address {
   font-style: normal;
   display: none;
   @media screen and (min-width:768px) {
      display: unset;
   }
}

.header-address {
   display: flex;
   gap: 40px;

   @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   @media screen and (min-width: 1158px) {
      display: flex;
      flex-direction: row;
      gap: 40px;
   }
}

.header-address-link {
   color: var(--SLATE);
}

.header-address a:hover,
.header-address a:focus {
   color: var(--OCEAN);
}

/* End of Header & Top Nav  */
/* MOBILE MENU */
.mobile-menu-icon{
   fill: currentColor;
   
}
.js-open-menu{
   @media screen and (min-width: 768px){
      display: none;
   }
}
.js-menu-container{
   display: block;
   position: fixed;
   /* flex-direction: column; */
   /* justify-content: space-between; */
   top: 0px;
   left: 0;
   padding: 80px 35px 40px 40px;
   width: 100vw;
   height: 100vh;
   z-index: 200;
   background-color: var(--WHITE);
   transform: translateX(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-menu-container.is-open{
   transform: translateX(0);
}
.js-menu-close{
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   padding: 0;
   background-color: var(--CORNFLOWER);
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   fill: var(--NAVY-BLUE);
   /* cursor: pointer; */
   /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
 
.mob-main-nav{
   display: flex;
   /* justify-content: space-between; */
   flex-direction: column;
   gap: 250px;

}
.mob-nav{
   display: inline-flex;
   flex-direction: column;
   color: var(--NAVY-BLUE);
   font-size: 36px;
   font-family: inherit;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0.72px;
   gap: 40px;
}
.mob-menu-active{
   color: var( --IRIS)
}
.mob-nav-address{
   gap: 40px;
   
}
.mob-nav-tel{
   font-family: Roboto;
   font-size: 36px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0.72px;
   padding-bottom: 20px;
}
#mob-nav-mail{
   font-family: Roboto;
   font-size: 20px;
   font-weight: 500px;
   line-height: 24px;
   letter-spacing: 0.4px;
   color: var(--SLATE, #434455);
   padding-top: 20px;
}
 
.mob-nav-social-media{
   display: flex;
   gap: 56px;
   margin-top: 40px;

   /* display: inline-flex; */
   /* align-items: flex-start; */
}
.mob-nav-social-media-list{
      background-color: var(--IRIS);
      border-radius: 50%;
      padding: 8px;
      justify-content: center;
      align-items: center;
      /* fill: currentColor; */
      /* width: 40px; */
      height: 40px;
}
.mob-nav-social-media-icon {
   width: 24px;
   height: 24px;
   fill: var(--CLOUD);   
}
.mob-nav-social-media-link:hover
.mob-nav-social-media-link:focus{
   background-color: var(--OCEAN);
}
#mob-nav-mail:hover
#mob-nav-mail:focus{
   color: var(--OCEAN);
}


/* Hero Section */
.hero-section {
   background-color: var(--NAVY-BLUE);
   background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
      url(../images1/people-office.jpg);
   padding: 112px 0;
   background-repeat: no-repeat;
   display: block;
   background-size: cover;
   background-position: center;
   text-align: center;
   position: relative;
   @media screen and (min-width: 768px){
      /* background-image: unset; */
   }   
}

.hero-title {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
   margin-bottom: 48px;
   color: var(--WHITE);
   @media screen and (min-width: 768px) {
         font-size: 56px;
         /* line-height: 1.07; */
         /* letter-spacing: 1.12px; */
      }
   
      /* @media screen and (min-width: 1158px) { */
         /* font-size: 56px; */
         /* line-height: 1.07; */
         /* letter-spacing: 1.12px; */
      /* } */
}

.hero-btn {
   color: var(--WHITE);
   background-color: var(--IRIS);
   border: unset;
   border-radius: 4px;
   font-family: "Roboto";
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   padding: 16px 32px;
   text-transform: capitalize;
   cursor: pointer;
}

.hero-btn:hover {
   background-color: var(--OCEAN);
}
.backdrop {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
   width: 408px;
   height: 584px;
   background-color: white;
   border-radius: 4px;
   padding: 24px;
   color: var(--NAVY-BLUE);
}

.is-hidden {
   pointer-events: none;
   opacity: 0;
}

.modal-close-btn {
   border-radius: 100%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: white;
   width: 30px;
   height: 30px;
   color: var(--ocean);
   margin-left: auto;
   display: block;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.modal-close-btn:hover {
   fill: currentColor;
   border: 1px solid currentColor;
}
.top-text {
   color: var(--NAVY-BLUE);
   font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.32px;
      padding-top: 10px;
      padding-bottom: 10px;
}
.service-form {
   gap: 8px;
}
.service-label {
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;
   width: 100%;
   position: relative;
}
.input-label {
   text-align: left;
   margin-bottom: 8px;
}
.service-input {
   padding: 12px 40px;
   border: 1px solid var(--NAVY-BLUE);
   border-radius: 4px;
   transition: 250ms;
   transition-property: color, border-color, background-color;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.service-icon {
   position: absolute;
   top: 40px;
   left: 15px;
   fill: black;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-input:focus + .service-icon,
.service-input:hover + .service-icon {
   fill: var(--IRIS);
}
.service-input:hover {
   border: 1px solid var(--IRIS);
}
.service-input-textarea {
   border: 1px solid var(--NAVY-BLUE);
   border-radius: 4px;
   transition: 250ms;
   transition-property: color, border-color, background-color;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   padding: 8px 16px;
}
.privacy-policy {
   color: var(--LIGHT-SLATE, #8E8F99);
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0.48px;
   display: flex;
   gap: 10px;
   padding-top: 10px;
   padding-bottom: 15px;
}
.policy {
   color: var(--IRIS);
   font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.48px;
      text-decoration-line: underline;
}

.modal-btn {
   color: var(--WHITE);
   background-color: var(--IRIS);
   border: unset;
   border-radius: 4px;
   font-family: "Roboto";
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   padding: 16px 32px;
   text-transform: capitalize;
   cursor: pointer;
}
/* End of Hero Section */

/* Advantage Section */
.adv-section {
   padding: 96px;
      
   @media screen and (min-width: 768px) {
      padding: 96px 0;
   }
   
   @media screen and (min-width: 1158px) {
      padding-top: 120px;
       padding-bottom: 0;
   }
}

.adv-list {
   display: flex;
   gap: 72px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   @media screen and (min-width: 768px){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;
      row-gap: 50px;
   }
}

.adv-item {
   /* display: inline-block; */
   text-align: center;
   /* margin-bottom: 20px; */

}

.adv-icon {
   display:none;
   @media screen and (min-width: 768px) {
         display: none;
      }
   @media screen and (min-width: 1158px) {
         display: flex;
         justify-content: center;
         width: 264px;
         height: 112px;
         padding: 24px 100px;
         margin-bottom: 8px;
         background-color: var(--CLOUD);
         border-radius: 4px;
      }
}

.adv-title {
   color: var(--NAVY-BLUE);
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0.4px;
   margin-bottom: 8px;
   @media screen and (min-width: 768px){
      font-size: 36px;
   }
   @media screen and (min-width: 1158px){
      font-size: 20px;
   
   }
}

.adv-description {
   color: var(--SLATE);
   font-size: 16px;
   font-family: Roboto;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.32px;
   align-self: stretch;
}

/* End of Advantage Section */

/* What Are We Doing Section */
.what-are-we-doing-list {
   display: flex;
   justify-content: center;
   gap: 24px;
}
.what-are-we-doing-section{
   display: none;
   @media screen and (min-width: 768px) {
      display: none;
   }
   @media screen and (min-width: 1158px) {
      display: flex;
      justify-content: center;
      gap: 24px;
      }
}

/* End of What Are We Doing Section */

/* Our Team Section */


.our-team-section {
   background-color: var(--CLOUD);
    
}

.our-team-list {
   display: flex;
   flex-direction: column;
   gap: 72px;
   @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 64px;
      column-gap: 24px;
      }
}
.our-team-item img {
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.our-team-item {
   display: inline-block;
   border-radius: 0px 0px 4px 4px;
   background-color: var(--WHITE);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   width: 264px;
   margin: 0 auto;
}

.our-team-item-container {
   padding: 32px 0px;
}

.our-team-name {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   color: var(--NAVY-BLUE);
   text-align: center;
   margin-bottom: 8px;
}

.our-team-position {
   color: var(--SLATE);
   text-align: center;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

.social-media-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   padding: 8px 0px 32px 0px;
    
}

.social-media-link {
   border-radius: 50%;
   background-color: var(--IRIS);
   padding: 12px;
   display: flex;
    
}

.social-media-icon {
   display: flex;
   justify-content: center;
   width: 16px;
   height: 16px;
   fill: var(--CLOUD);
}


.social-media-link:hover,
.social-media-link:focus {
   background-color: var(--GREEN);
}

/* End of Our Team Section */

/* Customer Section */
.customer-section {
   padding: 60px 0px;
}

.customer-title {
   color: var(--NAVY-BLUE);
   font-size: 36px;
   line-height: 2.5;
   letter-spacing: 0.72px;
   text-transform: capitalize;
}

.customer-list {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
   @media screen and (min-width: 768px) {
      /* display: flex; */
      /* flex-direction: row; */
      /* flex-wrap: wrap; */
      /* justify-content: center; */
      /* column-gap: 24px; */
      /* row-gap: 72px; */
      display: flex;
      flex-basis: calc(100% / 2 - 20px);
      }
   @media screen and (min-width: 1158px) {
         display: flex;
         gap: 24px;
         flex-wrap: nowrap;
         /* justify-content: center; */
         flex-basis: calc(100% - 10px);
         /* gap: 20px; */
         
      }
}


.customer-list-item {
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-item-link {
   display: flex;
   border-radius: 4px;
   border: 1px solid var(--LIGHT-SLATE);
   padding: 16px 32px;
   justify-content: center;
   align-items: center;
   color: var(--LIGHT-SLATE);
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-svg {
   width: 104px;
   height: 56px;
   display: flex;
   fill: currentColor;
}

.customer-list-item-link:hover,
.customer-list-item-link:focus {
   border-color: var(--OCEAN);
   color: var(--OCEAN);
}

/* Footer */
.footer-container {
   display: flex;
   /* column-gap: 140px; */
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   row-gap: 72px;
   text-align: center;
   @media screen and (min-width: 768px) {
         display: flex;
         align-items: flex-start;
         flex-direction: row;
         column-gap: 70px;
         row-gap: 72px;
         /* flex-wrap: wrap; */
         /* justify-content: center; */
         /* padding: 0; */
         text-align: left;
      }
   
      @media screen and (min-width: 1158px) {
         display: flex;
         /* flex-direction: row; */
         /* flex-wrap: wrap; */
         gap: 20px;
         justify-content: space-around;
         /* row-gap: 10px; */
         /* padding: 0 15px; */
         
      }
}
/* ..footer-studio {
   text-align: center;

   @media screen and (min-width: 768px) {
      padding: 0;
      text-align: left;
   }

   @media screen and (min-width: 1158px) {
      padding-right: 120px;
      text-align: left;
   }
} */

.footer {
   background: var(--NAVY-BLUE);
   padding: 120px 0;
   /* padding: 156px; */
   align-items: center;
      justify-content: center;
}

.footer-text-logo-studio {
   color: var(--CLOUD);
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

.footer-text {
   color: var(--CLOUD);
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
   margin-top: 17.5px;
}

.social-media-title {
   font-size: 16px;
   margin-bottom: 16px;
   color: #fff;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

.footer-social-media-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 16px;
    
}

.footer-social-media-link {
   display: flex;
   background-color: var(--IRIS);
   border-radius: 50%;
   padding: 8px;
   align-items: center;
   fill: currentColor;
}

.footer-social-media-icon {
   width: 24px;
   height: 24px;
   color: var(--CLOUD);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
   background-color: var(--GREEN);
}
.subs {
   color: var(--WHITE, #FFF);
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.32px;
}
.subs-mail {
   color: var(--WHITE);
   background: var(--NAVY-BLUE);
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.48px;
   border-radius: 4px;
   border: 1px solid var(--WHITE, #FFF);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   padding: 9px 140px 9px 20px;
   margin-bottom: 20px;
   @media screen and (min-width: 768px) {
         margin-bottom: 0;
      }
}
.subscribe-form {
   /* position: relative; */
   /* margin-right: 20px; */
   justify-content: center;
   align-items: center;
   /* display: flex; */
   column-gap: 20px;
   
   @media screen and (min-width: 768px) {
         /* padding: 0; */
         text-align: left;
         display: flex;
         justify-content: center;
         gap:20px;
      }
   
      @media screen and (min-width: 1158px) {
         /* padding-right: 120px; */
         text-align: left;

}
/* .subscribe-sect{
   display: ; */
}
.subs-button{
   /* display: block; */
   /* padding-top: 20px; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* flex-wrap: nowrap; */
    
}
.subs {
   padding-bottom: 10px;
    
}
.subs-btn {
   display: inline-flex;
   color: var(--WHITE);
      background-color: var(--IRIS);
      border: unset;
      border-radius: 4px;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding: 8px 24px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      /* width: 165px; */
      /* height: 40px; */
      fill: var(--WHITE);
      gap: 20px;
      
}
 

/* End of Footer */


/* PORTFOLIO.HTML */

/* filter */
.fltr-btn {
   padding: 96px 0px 72px 0px;
}

.fltr-btn-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
}

.fltr-btn-item {
   background-color: var(--CLOUD);
   color: var(--IRIS);
   border-radius: 4px;
   border: 1px solid var(--CORNFLOWER);
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   padding: 12px 24px;
   letter-spacing: 0.64px;
}

.fltr-btn-item.active {
   border-radius: 4px;
   background: var(--OCEAN);
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
   color: var(--CORNFLOWER);
   color: var(--WHITE);
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.64px;
   padding: 12px 24px;
}

.fltr-btn-list button:hover {
   color: var(--WHITE);
   background-color: var(--OCEAN);
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Card Section */

.card-feature-section {
   padding-bottom: 120px;
}

.card-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
   @media screen and (min-width: 768px){
      column-gap: 40px;
   }
}
 
.card-list-item {
   display: inline-block;
   border: 1px solid var(--CORNFLOWER);
   background-color: var(--WHITE);
    
}

.card-content {
   padding: 32px 16px;
}

.card-list-item-title {
   color: var(--NAVY-BLUE);
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   margin-bottom: 8px;
}

.class-card-designation {
   color: var(--SLATE, #434455);
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.32px; 
}
.card-list-img {
   position: relative;
   overflow: hidden;
}
.card-list-item-caption {
   position: absolute;
   background-color: var(--IRIS);
   color: var(--CLOUD );
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.card-list-item:hover .card-list-item-caption {
   opacity: 1;
   transform: translateY(0);
}
.card-list-item-caption p {
   padding: 40px 32px;
}
/* End of Portfolio Style */

 